body {
    margin-left: 32px;
    margin-right: 32px;
    background-color: black;
    border-color: rgb(47,51,54);
    border-style: solid;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
}

body > div {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 0px;
    margin-right: 0px;
}

div {
    overflow: hidden;
}

.wd-rounded-corners {
    border-radius: 50px;
}

.wd-dark-gray {
    background-color: darkgrey;
}

.wd-white-text {
    color: white;
}

#searchbar {
    padding: 8px;
    width: 80%;
    border: 0px;
}

.wd-float-left {
    float: left;
}

.wd-float-right {
    float: right;
}

a#gear-icon {
    float: right;
    padding: 0px;
    font-size: 32px;
    color: rgb(51,102,204);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.wd-header {
    padding-top: 16px;
    clear: both;
    margin-bottom: 16px;
    border-bottom: 2.4px;
    border-top: 0px;
    border-left: 0px;
    border-right:0px;
    border-color: rgb(47,51,54);
    border-style: solid;
    margin-bottom: 16px;
}

.wd-header-links {
    padding: 0px;
    padding-bottom: 16px;
    margin: 0px;
    margin-right: 16px;
    margin-left: 16px;
    font-size: 15px;
    color: rgb(110, 118, 125);
}

#for-you {
    color: rgb(29,161,242);
    border-style: solid;
    border-left: none;
    border-top: none;
    border-right: none;
}

#searchbar-div {
    clear: both;
}

#searchbar:focus {
    outline: none;
}

.wd-float-done {
    clear: both;
}

.wd-topic {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-author {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 13px;
}

.wd-post-title {
    margin-top: 8px;
    margin-bottom: 8px;
}

.wd-suggested {
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 0px;
    border-top: 0px;
    outline: 2.4px solid rgb(47,51,54);
    clear:both;
}

.wd-no-outline {
    outline: none;
    border: 2px solid rgb(47,51,54);
    border-left: 0px;
    border-right: 0px;
}

.wd-suggested-post {
    padding: 0px;
    margin: 0px;
    margin-top: 16px;
    margin-bottom: 16px;
    width: auto;
}

.wd-suggested-image {
    border-radius:15px;
    padding: 0px;
    margin: 0px;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100px;
    height: 100px;
}
